name: Terraform Destroy

on:
  workflow_dispatch:  

env:
  AWS_REGION: eu-west-2

jobs:
  terraform-destroy:
    runs-on: ubuntu-latest
    timeout-minutes: 45

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.2

      - name: Create auto.tfvars
        working-directory: terraform
        run: echo "${{ secrets.TF_VARS }}" | base64 --decode > auto.tfvars

      - name: Terraform Init
        working-directory: terraform
        run: terraform init -input=false

      - name: Terraform Format Check (only .tf files)
        working-directory: terraform
        run: find . -name "*.tf" -exec terraform fmt -check {} \;

      - name: Terraform Validate
        working-directory: terraform
        run: terraform validate

      - name: Terraform Plan Destroy
        working-directory: terraform
        run: terraform plan -destroy -var-file=auto.tfvars -out=tfplan_destroy -input=false

      - name: Terraform Destroy
        working-directory: terraform
        run: terraform destroy -auto-approve -var-file=auto.tfvars

