name: Terraform Deploy

on:
  push:
    branches:
      - main
    paths:
      - '**/*.tf'          
      - '**/*.tfvars'      
      - '**/*.hcl'        
      
  workflow_dispatch:

env:
  AWS_REGION: eu-west-2

jobs:
  terraform:
    runs-on: ubuntu-latest
    timeout-minutes: 45

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.2

      - name: Create auto.tfvars
        working-directory: terraform
        run: echo "${{ secrets.TF_VARS }}" | base64 --decode > auto.tfvars

      - name: Terraform Init
        working-directory: terraform
        run: terraform init -input=false

      - name: Terraform Format
        working-directory: terraform
        run: terraform fmt -check -recursive *.tf

      - name: Terraform Validate
        working-directory: terraform
        run: terraform validate

      - name: Run Checkov Scan
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: terraform
          framework: terraform
          quiet: true
          soft_fail: false

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -var-file=auto.tfvars -out=tfplan -input=false

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve tfplan
